@charset "UTF-8";

/*estilos gerais mobile first*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: #5F2C82;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
}
section > img {
    width: 250px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
section > h1 {
    text-align: center;
    padding: 5px;
}
section > p {
    padding: 5px;
    font-size: 0.8em;
    margin: 0px 5px;
}
div {
    background-color: #5F2C82;
}
div {
    display: block;
    margin: auto;
    width: 230px;
    height: 40px;
    border-radius: 10px;
}

i.material-icons {
    color: white;
    padding: 5px;
    font-size: 30px;
} 
div#camposenha {
    margin-top: 5px;
    margin-bottom: 5px;
}
input.botao {
    display: block;
    margin: auto;
    width: 230px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
}
input#email {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);

}
input#senha {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}
input#entrar {
    background-color: #53AAA7;
    border: none;
    color: white;
    width: 95%;
}
a {
    text-decoration: none;
}
input#esqueci {
    border: 1px solid #53AAA7;
    margin-top: 5px;
    color: #4B806C;
    background-color: white;
    width: 95%;
}
input#entrar:hover {
    background-color: #2D6462;
}
input#esqueci:hover{
background-color: #6CD3CF;
}